.modal {
  background-color: rgba(63, 63, 63, 0.698);
  position: absolute;
  display: flex;
  width: 100vw;
  height: calc(100% - 150px);
  z-index: 1;
  .modal-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    padding: 30px;
    background-color: rgb(8, 58, 53);
    color: rgb(200, 200, 200);
    height: 600px;
    width: 960px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      padding: 4px 7px;
      border: 0px;
      background-color: rgb(172, 29, 29);
      color: white;
      cursor: pointer;
    }
    h2 {
      margin-bottom: 40px;
    }
    .details {
      font-size: 20px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        margin-bottom: 10px;
      }
      .price {
        display: flex;
        margin-bottom: 10px;
      }
      .creators {
        margin-bottom: 30px;
      }
      a {
        text-decoration: none;
        background-color: rgb(187, 187, 187);
        color: rgb(33, 33, 110);
        font-weight: 700;
        letter-spacing: 3px;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}
