.myTeam {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  height: 100vh;
  h1 {
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  .myTeamHero {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(73, 39, 39);
    width: 300px;
    font-size: larger;
    padding-right: 5px;
    box-shadow: 4px 2px 36px 3px rgba(224, 224, 224, 0.75);
    -webkit-box-shadow: 4px 2px 36px 3px rgba(224, 224, 224, 0.75);
    -moz-box-shadow: 4px 2px 36px 3px rgba(224, 224, 224, 0.75);
    img {
      width: 80px;
      margin-right: 10px;
    }
  }
  button {
    margin-left: auto;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    font-size: larger;
    color: cornsilk;
    cursor: pointer;
    background-color: rgb(158, 24, 24);
    border: 0.5px solid rgb(161, 161, 161);
  }
}
